/* Basis-Styling */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #8c6666;
    color: rgb(252, 249, 249);
    padding: 1em;
    text-align: center;
}

footer {
    background-color: #a16f6f;
    color: rgb(255, 255, 255);
    padding: 1em;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}